*{
    margin:0;
    padding:0;
    border:0;
}


.posted_by{
    color: slategray;
    font-weight: 100;
    font-style: italic;
}

.texto_normal{
    color: black;
    font-weight: 200;
    font-style: normal;
}
